<section id="viewCatalog" class="background-img">
            <div class="added-destinations">
                <a href="" class="added-destination">
                    <img src="https://image.freepik.com/free-vector/showplace-illustration-with-all-famous-buildings-linear-banner_1416-984.jpg"
                        alt="" class="picture-added-destination">
                    <h3>Berlin</h3>
                    <span>to Berlin </span><span>2020-12-22</span>
                </a>
                <a href="" class="added-destination">
                    <img src="https://image.freepik.com/free-photo/buildings-tall-tower_181624-20757.jpg" alt=""
                        class="picture-added-destination">
                    <h3>Canada</h3>
                    <span>to Toronto </span><span>2021-09-02</span>
                </a>
                <a href="" class="added-destination">
                    <img src="https://image.freepik.com/free-photo/walking-hooker-valley-track-with-view-mount-cook-new-zealand_181624-17124.jpg"
                        alt="" class="picture-added-destination">
                    <h3>New Zealand</h3>
                    <span>to Auckland </span><span>2021-11-15</span>
                </a>
            </div>
            <div class="guest">
                No destinations possible! Please sign in...
            </div>
        </section>